footer {
    text-align: center;
    padding: 40px;

    background: url(../../images/bg.jpg);
}

.logo-footer {
    border-radius: 100px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
}