.header-principal {
    background-image: url(../../images/portada-new.jpg);
    background-size: cover;

}

.header-principal .caja {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}

.headerPrincipal-nav .nav-menu {
    display: flex;
    align-items: flex-start;




}

.headerPrincipal-nav li {
    margin-left: 40px;
    padding-top: 60px;

}







.logo {
    border-radius: 100px;


}

nav a {
    text-transform: uppercase;
    font-family: 'Anek Devanagari', sans-serif;
    /* transforma el texto a mayúscula*/
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    background: none;
    border: none;






}

nav a:hover {


    transform: scale(2);
    transition: 0.5s;
    font-size: 31px;
    text-shadow: 7px -8px 9px rgba(0, 0, 0, 0.94);


}

.boton-login {
    background: #999797;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;


}

.logo-carrito {
    background: #ffffff;
    ;
    border-radius: 20px;
    padding: 5px 5px;
    position: relative;


}

.cart-number {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    padding: 0 6px;
    font-size: 18px;
    right: 0;
    bottom: 0;


}