#dialog_login {
    border: none;
    background: linear-gradient(180deg, white 20%, rgb(224, 126, 13) 80%);
    border-radius: 5px;
}

#dialog_login h1 {
    font-weight: bold;
    font-size: 30px;
}

.texto-inicial {
    margin: 20px 0;
}

#dialog_login input {
    padding: 10px 30px;
    margin: 10px 0;

}

#dialog_login select {
    padding: 10px 75px;
    margin: 10px 0;
}


#dialog_login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;


}

.botones {
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    background: #2e2d2c;
    color: white;
    margin: 15px 0;
    font-weight: bold;
}

.botones-disabled {
    background: #8c8986;
}

.botones:active {

    transform: scale(1.2);
}