body {
    font-family: "Montserrat", "sans-serif";
}

main {
    background: #F6F8B4;
}

.productos {

    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;

    border: 2px black solid;
    border-radius: 10px;
    height: 450px;
    width: 300px;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.productos li:hover {
    border-color: #c78c19;

}



.productos h2 {
    font-size: 30px;
    font-weight: bold;
}



.imagenes-productos {
    height: 200px;
    width: 200px;
    border-radius: 15px;
}


.producto-descripcion {
    font-size: 18px;

}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.boton-productos {
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    background: #d46f1b;
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.boton-productos:active {
    background: #cdaa8d;

}

.boton-cantidad {
    display: flex;
    align-items: center;
    background: #d46f1b;
    border-radius: 10px;
    padding: 4.5px 2px;
    margin-left: 20px;

}

.boton-operador {
    border-radius: 20px;
    color: white;
    background: #2e2d2c;
    height: 25px;
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

.boton-operador:active {
    background: gray;

}

.cantidad {
    font-weight: bold;
    font-size: 20px;
}