body {
    font-family: "Montserrat", "sans-serif";
}

.header-principal {
    background-image: url(./imagenes/portada-new.jpg);
    background-size: cover;





}

.header-principal .caja {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}

.headerPrincipal-nav .nav-menu {
    display: flex;
    align-items: flex-start;




}

.headerPrincipal-nav li {
    margin-left: 40px;
    padding-top: 60px;

}







.logo {
    border-radius: 100px;


}








nav a {
    text-transform: uppercase;
    font-family: 'Anek Devanagari', sans-serif;
    /* transforma el texto a mayúscula*/
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    background: none;
    border: none;






}

nav a:hover {


    transform: scale(2);
    transition: 1.5s;
    font-size: 35px;
    text-shadow: 7px -8px 9px rgba(0, 0, 0, 0.94);


}

.boton-login {
    background: #999797;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}

main {
    background: #F6F8B4;


}

.containers {
    display: flex;
    justify-content: space-around;

}

main .titulo-carrito {
    display: flex;
    justify-content: center;
    font-size: 40px;



}

.titulo-productos {
    font-size: 30px;
}

.titulo-descripcion {
    font-size: 30px;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.productos-carrito {
    flex: 5;


}



.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;

    border: 2px black solid;
    border-radius: 20px;
    height: 190px;
    width: 130px;
    padding: 30px 20px;
    box-sizing: border-box;
    margin: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;




}

.productos h2 {
    font-size: 15px;
    font-weight: bold;

}



.imagenes-productos {
    height: 70px;
    width: 70px;
    border-radius: 15px;
    margin: 10px 0;
}


.boton-productos {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background: red;
    color: white;
    margin: 15px 15px 15px 15px;
    font-weight: bold;
}

.boton-productos:active {
    transform: scale(1.2);

}

.descripcion {
    flex: 3;
}

.descripcion-carrito {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;


}



.lista-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 90px;



}

.lista-descripcion li {
    font-size: 20px;
    margin-top: 30px;
    text-decoration: dotted;
}

.pago {
    margin-top: 80px;
}




.titulo-pago {
    font-size: 25px;
}

.boton-pago {
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    background: #2e2d2c;
    color: white;
    margin: 30px 0 0 100px;
    font-weight: bold;
}

.boton-pago:active {

    transform: scale(1.2);
}



footer {
    text-align: center;
    padding: 40px;

    background: url(imagenes/bg.jpg);
}

.logo-footer {
    border-radius: 100px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px;
}